@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using UrlShortener.Shared
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UrlShortener</title>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="_content/UrlShortener/_framework/scoped.styles.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <component type="typeof(HeaderComponent)" render-mode="ServerPrerendered" param-IsLoginDisplayHidden="true" />
            <main role="main" class="content">
                @RenderBody()
            </main>
        <component type="typeof(FooterComponent)" render-mode="ServerPrerendered" />
    </div>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
