<div class="d-flex flex-row align-items-start justify-content-center mt-4 flex-wrap">
    <div class="card text-center bg-light m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Guest</h5>
            <p class="card-text">Fast and reliable option for sharing links with friends.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">5 seconds ads on redirect</li>
            <li class="list-group-item">Link discarded after 7 days</li>
            <li class="list-group-item">FREE</li>
        </ul>
    </div>
    <div class="card text-center bg-light m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Free Tier</h5>
            <p class="card-text">Ad free version for casual users.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">No Ads</li>
            <li class="list-group-item">Link discarded after 1 year</li>
            <li class="list-group-item">FREE</li>
        </ul>

        <AuthorizeView>
            <NotAuthorized>
                <div class="card-footer">
                    <a href="Identity/Account/Login" class="btn btn-primary">Login</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <div class="card text-center bg-light m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Premium</h5>
            <p class="card-text">Most advance option for people in need for longterm short links</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">No Ads</li>
            <li class="list-group-item">Link never discarded</li>
            <li class="list-group-item">Custom short url</li>
            <li class="list-group-item">Price: 5$</li>
        </ul>
        <div class="card-footer">
            <AuthorizeView>
                <NotAuthorized>
                    <a href="Identity/Account/Login" class="btn btn-success">Login & Buy</a>
                </NotAuthorized>
                <Authorized>
                    @if (context.User.IsInRole("premium"))
                    {
                        <p class="font-weight-bold text-purple my-0">Thanks for supporting us!</p>
                    }
                    else
                    {
                        <a href="GetPremium" class="btn btn-success">Buy premium</a>
                    }
                </Authorized>
            </AuthorizeView>
        </div>
    </div>

</div>


@code {

}
