@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url(https://fonts.googleapis.com/css?family=Asap:400,700|Lato:400,700,900|Source+Sans+Pro:400,700&display=swap);

html, body {
    font-family: asap,'Helvetica Neue', Helvetica, Arial, sans-serif;
    --backgroundColor: #e5eaf5;
    --secondaryBackgroundColor: #d0bdf4;
    --titleColor: #8458B3;
    --highlightColor: #a0d2eb;
    --textColor: #493d5f;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: var(--backgroundColor);
}

h1 {
    font-size: 75px;
    font-weight: 600;
    color: var(--textColor);
}

h5{
    font-weight: 600;
    color: var(--titleColor);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.url-form {
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .url-form * {
        height: 3.5rem;
        border: 1px solid black;
    }

.url-form__input {
    border-radius: 0.2rem 0 0 0.2rem;
    background-color: var(--secondaryBackgroundColor);
    padding-left: 10px;
}

.url-form__button {
    border-left: 0;
    border-radius: 0 0.2rem 0.2rem 0;
    background-color: var(--highlightColor);
    font-weight: 600;
    color: var(--textColor);
}

.ads {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.ad {
    /*    border: 1px solid black;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    max-width: 45rem;
    max-height: 40rem;*/
    margin: 2rem;
    width: 20rem;
    justify-content: space-between;
    align-items: center;
}

    .ad * {
        width: 100%;
    }

.ad__image {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.ad__description {
    color: red;
    text-align: center;
}

.redirect-banner {
    width: 100%;
    border-bottom: 3px dashed black;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.redirect-banner__text {
    margin: 0;
}

.timer {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--titleColor);
}

.redirect-footer {
    width: 100%;
}

.footer {
    width: 100%;
    min-height: 3rem;
    border-top: 2px dashed var(--textColor);
    background-color: var(--secondaryBackgroundColor);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    .footer * {
        //TODO
    }

.text-purple{
    color: var(--titleColor);
}

.bg-purpleSecondary{
    background-color: var(--secondaryBackgroundColor);
}

.login-display{
    background-color: white;
    border: 3px solid var(--titleColor);
    border-radius: 15px;
}
