@page "/"
@using UrlShortener.Data
@inject NavigationManager NavigationManager
@inject ShortUrlGenerationService UrlGenerator
@inject IJSRuntime JSRuntime

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-0 col-lg-2 p-0"></div>
        <h1 class="col-12 col-lg-8 text-center p-0">URL .NET SHORTENER</h1>
        <LoginDisplay></LoginDisplay>
    </div>
</div>


<div class="d-flex flex-column align-items-center col-12 col-md-8 mt-4">
    @if (_shortUrl.Length == 0)
    {

        <EditForm Model="urlModel" OnValidSubmit="@CreateShortUrl" class="row col-12 col-lg-10 d-flex flex-column justify-content-center align-items-center">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="input-group-lg input-group justify-content-center flex-md-row col-12">
                <InputText DisplayName="Url" placeholder="Type your URL:" @bind-Value="urlModel.UrlString" class="form-control col-7"></InputText>
                <AuthorizeView Roles="premium" Context="authContext">
                    <Authorized>
                        <InputText DisplayName="Short Url" placeholder="Your custom link ending" @bind-Value="urlModel.ShortRelativeUrl" class="form-control col-3 bg-purpleSecondary"></InputText>
                    </Authorized>
                </AuthorizeView>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-light btn-outline-primary">Shorten</button>
                </div>
            </div>
        </EditForm>
    }
    else
    {
        <div class="d-flex flex-row m-5">
            <div class="login-display p-3">@(NavigationManager.BaseUri+_shortUrl)</div>
            <button type="button" class="btn btn-info" @onclick="CopyTextToClipboard">Copy</button>
        </div>
    }
    <p class="mb-3 mt-2 text-center font-italic">
        URL .NET SHORTENER is a free tool to shorten your URL or reduce a link.<br />
        Use our tool to create a shortened link making it easy to remember.
    </p>
    <UrlShortener.Components.AccountTiersDisplay></UrlShortener.Components.AccountTiersDisplay>
</div>

<FooterComponent></FooterComponent>

@code{
    private UrlModel urlModel = new UrlModel();
    private string _shortUrl = "";

    private async void CreateShortUrl()
    {
        var urlResponse = await UrlGenerator.CreateShortUrlAsync(urlModel);
        if (urlResponse.IsSuccessful)
        {
            _shortUrl = urlResponse.Result;
        }
        //TODO: add error handling
    }

    private async Task CopyTextToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", NavigationManager.BaseUri + _shortUrl);
    }
}

