@page "/"
@using UrlShortener.Data
@inject NavigationManager NavigationManager
@inject ShortUrlGenerationService UrlGenerator

<h1>URL .NET SHORTENER</h1>

<div>
    @if (_shortUrl.Length == 0)
    {
        <EditForm Model="urlModel" OnValidSubmit="@CreateShortUrl" class="url-form">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputText DisplayName="Url" placeholder="Type your URL:" @bind-Value="urlModel.UrlString" class="url-form__input"></InputText>

            <button type="submit" class="url-form__button">Shorten</button>
        </EditForm>
    }
    else
    {
        <div class="url-form__input">@(NavigationManager.BaseUri+_shortUrl)</div>
        <button type="button">Copy</button>
    }
</div>

<FooterComponent></FooterComponent>

@code{
    private UrlModel urlModel = new UrlModel();
    private string _shortUrl = "";

    private async void CreateShortUrl(){
        _shortUrl = await UrlGenerator.CreateShortUrl(urlModel);
    }
}

