@inject NavigationManager NavigationManager
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-0 col-lg-2 p-0"></div>
        <a class="header__title col-12 col-lg-8" @onclick="@(() => NavigationManager.NavigateTo(""))"><h1 class="text-center p-0">URL .NET SHORTENER</h1></a>
        <LoginDisplay></LoginDisplay>
    </div>
</div>

@code {

}
