@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<div class="main">
    <div class="content">
        @Body
    </div>
    <FooterComponent ShortUrl="@(NavigationManager.ToBaseRelativePath(NavigationManager.Uri))"></FooterComponent>
</div>

@code {

}
